$primary-color: #47a3da;
// $radius: 1rem solid #47a3da;

// @mixin border-radius($radius) {
//   border-radius: $radius;
//   border: .5rem solid $primary-color;
// }

@import "variables";

@media screen and (min-width:600px) {
  .title {
    display: inline;
  }
}
@media screen and (max-width:599px) {
  .title {
    display: block;
  }
}

.company-name {
  ul {
    list-style: none;
    margin: auto 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
}

.nav {
  width: 100%;
  ul {
      list-style: none;
      // background-color: brown;
      width: 100%;
      padding: 0;
      text-align: center;
      }
  li {
      display: inline-block;
      border: .2rem solid $primary-color;
      border-radius: 100%;
      width: 1rem;
      height: 1rem;

      }
}

.tab {
  text-align: center;
  padding: 0;
  width: 100%;
  li {
    display:inline-block;
    width: 19%;
    border: .1rem solid gray;
    }
}
.tabLinks {

  a {
    color: $primary-color;
  }
}

.tabContent .fa {
    font-size: 10rem;
    text-align: center;
    padding: 5rem;
    background-color: $primary-color;
    height: 10rem;
    width: 75%;
}

.tabContent {
  color: #47a3da;
  text-align: center;
    i {
    text-align: center;
      }
    h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
