$primary-color: #47a3da;
$radius: 1rem solid #47a3da;

// @mixin border-radius($radius) {
//   border-radius: $radius;
//   border: .5rem solid $primary-color;
// }


.company-name {
  text-align: center;
}

.title {
    text-align: center;
    width: 17%;
    margin: auto;
    /* background-color: red; */
}
.nav {
  width: 100%;
}

.nav ul {
    list-style: none;
    // background-color: brown;
    width: 100%;
    padding: 0;
    text-align: center;
}


.nav li {
    display: inline-block;
    /* font-size: 2rem; */
    /* letter-spacing: 1rem; */
    border: .2rem solid #47a3da;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    // @include border-radius($radius);
}
