$primary-color: #47a3da;
// $radius: 1rem solid #47a3da;

// @mixin border-radius($radius) {
//   border-radius: $radius;
//   border: .5rem solid $primary-color;
// }


.company-name {
  text-align: center;
}

.title {
    text-align: center;
    width: 17%;
    margin: auto;
    /* background-color: red; */
}
.nav {
  width: 100%;
}

.nav ul {
    list-style: none;
    // background-color: brown;
    width: 100%;
    padding: 0;
    text-align: center;
}


.nav li {
    display: inline-block;
    /* font-size: 2rem; */
    /* letter-spacing: 1rem; */
    border: .2rem solid $primary-color;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    // @include border-radius($radius);
}
.tab {
  text-align: center;
  padding: 0;
  width: 100%;
}
.tabLinks a {
  color: $primary-color;
}

.tab li {
  display:inline-block;
  width: 19%;
  border: .1rem solid gray;
  }

.tabContent {
  text-align: center;
}

  .tabContent .fa {
      font-size: 10rem;
      text-align: center;
      padding: 5rem;
      background-color: $primary-color;
      height: 10rem;
      width: 75%;
  }
  .tabContent i {
    text-align: center;
  }

  .tabContent h3 {
    text-align: center;
  }
  .tabContent p {
    text-align: center;
  }
